body {
  margin: 0;
  
  /* background-image: url(./phone.png);
  background-size: 400px;
  margin-left: 20px;
  background-repeat:no-repeat; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
